@model IEnumerable<BlogListItemVM>
@{
    ViewData["Title"] = "Blog page";
}
@section Scripts
{
    <!-- Page level plugins -->
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}
@section Style
{
    <!-- Custom styles for this page -->
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<a asp-action="Create">Create Blog</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if(Model != null)
                    {
                        foreach (var item in Model)
                        {
                        <tr class="@(item.IsDeleted ? "alert-danger" : "")">
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td><img width="50" src="@item.ImagePath"></td>
                            <td><a asp-controller="Blog" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                                <td>
                                    <a asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id" class="@(item.IsDeleted ? "" : "alert-danger")">
                                        @(item.IsDeleted ? "turn on" : "turn off")
                                    </a></td>
                        </tr>                            
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>